{% extends "vicosafundacoes/base.html" %}
{% load static %}
{% block script %}
<script src="{% static 'categorias/js/cat_sta_lista.js'%}"></script>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="card card-custom gutter-b bg-white mt-10">
    <div class="card-body">
        <button onclick="abrir_modal_cat_sta()" class="btn btn-light-primary btn-icon btn-circle">
            <i class="flaticon2-add-1"></i>
        </button>
        
        <table class="table table-head-custom" id="kt_cat_sta">
            <thead>
                <tr>
                    <th class="datatable-row datatable-row-even">ID</th>
                    <th class="datatable-row datatable-row-even">Nome</th>
                    <th class="datatable-row datatable-row-even">cor</th>
                    <th class="datatable-row datatable-row-even">Ativo</th>
                    <th class="datatable-row datatable-row-even">Ações</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table> 
    </div>
</div>
<div class="modal fade" id="frm_cat_sta_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" data-scroll="true" >
                <ul class="nav nav-tabs nav-tabs-line">
                    <li class="nav-item">
                        <a id="aba1" class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">Nome</a>
                    </li>
                </ul>
                <div class="tab-content mt-5" id="myTabContent">
                    <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" arial-labelledby="kt_tab_pane_1">   
                        <form method="post" id="frm_cat_sta">
                            {% csrf_token %}
                            <div class="row">
                                <input type="hidden" id="cat_sta_id" name="cat_sta_id">
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="font-weight-bold" for="cat_sta_nome">Nome</label>
                                    <input type="text" class="form-control" id="cat_sta_nome" name="cat_sta_nome" placeholder="Nome" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="font-weight-bold" for="cat_sta_cor">cor</label>
                                    <input type="color" class="form-control" id="cat_sta_cor" name="cat_sta_cor" placeholder="cor" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label class="checkbox" for="cat_sta_ativo"></label>
                                    <div class="checkbox-inline">
                                        <label class="checkbox">
                                            <input type="checkbox" id="cat_sta_ativo" name="cat_sta_ativo" placeholder="Ativo" required>
                                            <span></span>
                                            Ativo</label>
                                    </div>
                                </div>
                                
                            </div>                            
                        </form>
                    </div>                  
                    <div class="modal-footer">
                        <button type="button" class="btn btn-text-danger btn-hover-light-danger font-weight-bold" data-dismiss="modal">Sair</button>
                        <button onclick="cat_sta_add()"type="button" id="cat_sta_btn_salvar" class="btn btn-text-primary btn-hover-light-primary font-weight-bold">Salvar</button>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>
{% endblock %} 