{% extends "vicosafundacoes/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
{% block script %}
<script src="{% static 'fornecedor/js/forn_list.js' %}"></script> 
<script src="{% static 'categorias/js/pesq_cat_control.js' %}"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="card card-custom gutter-b bg-white mt-10">
    <!-- <div class="card-header">
      <div class="card-title">
        <h1 class="display-3 text-success text-center font-weight-bold">Pedido Controle</h1>
      </div>
    </div> -->
    <div class="card-body">
        <div class="button-container">
            <button onclick="abrir_modal_forn()" class="btn btn-light-primary btn-icon btn-circle">
                <i class="flaticon2-add-1"></i>
            </button>
        </div>
        <table class="table table-head-custom" id="kt_forn">
            <thead>
                <tr>
                    <th> 
                        <input type='checkbox' class="checkble"> 
                    </th> <!-- Coluna especial para a caixa de seleção "selecionar tudo" -->
                    <th class="datatable-row datatable-row-even">Fornecedor</th>
                    <th class="datatable-row datatable-row-even">Tipo</th>
                    <th class="datatable-row datatable-row-even">Impacto</th>
                    <th class="datatable-row datatable-row-even">Produto/Serviço</th>
                    <th class="datatable-row datatable-row-even">Contato</th>
                    <th class="datatable-row datatable-row-even">Cnpj</th>
                    <th class="datatable-row datatable-row-even">Inscrição Municipal / Estadual</th>
                    <th class="datatable-row datatable-row-even">Emissão Nota Fiscal</th>
                    <th class="datatable-row datatable-row-even">ID</th>
                    <th class="datatable-row datatable-row-even">Ações</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table> 
    </div>
</div>
<div class="modal fade" id="frm_forn_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fornecedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" data-scroll="true" >
                <ul class="nav nav-tabs nav-tabs-line">
                    <li class="nav-item">
                        <a id="prod_aba1" class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">Fornecedor</a>
                    </li>
                    <li class="nav-item">
                        <a id="aba_cont"class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">Contato</a>
                    </li> 
                    <!-- <li class="nav-item">
                        <a id="aba_aval"class="nav-link" data-toggle="tab" href="#kt_tab_pane_3">Avaliação</a>
                    </li>  -->
                </ul>
                <div class="tab-content mt-5" id="myTabContent">
                    <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" arial-labelledby="kt_tab_pane_1">   
                        <form method="post" id="frm_forn">
                            {% csrf_token %}
                            <input type="hidden" id="forn_id" name="forn_id">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label class="font-weight-bold "for="forn_nome"> Nome </label>
                                    <input type="text" class="form-control " id="forn_nome" name="forn_nome" placeholder="Nome" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="font-weight-bold "for="forn_cnpj"> CNPJ</label>
                                    <input type="text" class="form-control " id="forn_cnpj" name="forn_cnpj" placeholder="CNPJ" required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="form-group col-lg-6">
                                    <label class="font-weight-bold "for="forn_ies"> Inscrição
                                        Municipal/ Inscrição Estadual</label>
                                    <input type="text" class="form-control " id="forn_ies" name="forn_ies" placeholder="Inscrição Municipal / Inscrição Estadual" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="font-weight-bold" for="cat_tip">Tipo</label>
                                    <select class="form-control" id="cat_tip" name="cat_tip"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 mt-3">
                                    <label class="font-weight-bold" for="cat_imp">Impacto</label>
                                    <select class="form-control" id="cat_imp" name="cat_imp"></select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="font-weight-bold col-form-label">Emissão Nota Fiscal</label>
                                    <div class="radio-inline">
                                        <label class="radio">
                                            <input type="radio" name="nf" value="1">OK
                                            <span></span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="nf" value="2">NC
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="forn_desc">Descrição</label>
                                    <textarea class="form-control" id="forn_desc" name="forn_desc" rows="3"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>                  
                    <div class="tab-pane fade "  id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                        <button onclick="abrir_modal_ctt()" class="btn btn-light-primary btn-icon btn-circle">
                            <i class="flaticon2-add-1"></i>
                        </button>
                        <table class="table table-head-custom" id="kt_ctt">
                            <thead>
                                <tr>
                                    <th class="datatable-row datatable-row-even">ID</th>
                                    <th class="datatable-row datatable-row-even">Contato</th>
                                    <th class="datatable-row datatable-row-even">Telefone</th>
                                    <th class="datatable-row datatable-row-even">E-mail</th>
                                    <th class="datatable-row datatable-row-even">Ativo</th>
                                    <th class="datatable-row datatable-row-even">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table> 
                    </div>
                    <div class="tab-pane fade "  id="kt_tab_pane_3" role="tabpanel" aria-labelledby="kt_tab_pane_3">
                        <button onclick="abrir_modal_aval()" class="btn btn-light-primary btn-icon btn-circle">
                            <i class="flaticon2-add-1"></i>
                        </button>
                        <table class="table table-head-custom" id="kt_aval">
                            <thead>
                                <tr>
                                    <th class="datatable-row datatable-row-even">ID</th>
                                    <th class="datatable-row datatable-row-even">Tipo de Avaliação</th>
                                    <th class="datatable-row datatable-row-even">Data</th>
                                    <th class="datatable-row datatable-row-even">Responsável</th>
                                    <th class="datatable-row datatable-row-even">Evidência</th>
                                    <th class="datatable-row datatable-row-even">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table> 
                    </div>
                    <!-- <div class="tab-pane fade "  id="kt_tab_pane_4" role="tabpanel" aria-labelledby="kt_tab_pane_4">
                        <button onclick="abrir_modal_monit()" class="btn btn-outline btn-lg" >
                            <i class="flaticon2-add"></i>
                        </button>
                        <table class="table table-head-custom" id="kt_monit">
                            <thead>
                                <tr>
                                    <th class="datatable-row datatable-row-even">ID</th>
                                    <th class="datatable-row datatable-row-even">Contato</th>
                                    <th class="datatable-row datatable-row-even">Telefone</th>
                                    <th class="datatable-row datatable-row-even">E-mail</th>
                                    <th class="datatable-row datatable-row-even">Ativo</th>
                                    <th class="datatable-row datatable-row-even">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table> 
                    </div> -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-text-danger btn-hover-light-danger font-weight-bold" data-dismiss="modal">Sair</button>
                        <button onclick="forn_add()"type="button" id="forn_btn_salvar" class="btn btn-text-success btn-hover-light-success font-weight-bold">Salvar</button>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>
<div class="modal fade" id="frm_ctt_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" data-scroll="true" >
                <div class="tab-content" id="myTabContent">
                    <form method="post" id="frm_ctt">
                        {% csrf_token %}
                        <input type="hidden" id="forn_ctt_id" name="forn_ctt_id">
                        <div class="form-group col-sm-12">
                            <label class="font-weight-bold "for="forn_ctt_nome">Contato</label>
                            <input type="text" class="form-control " id="forn_ctt_nome" name="forn_ctt_nome" placeholder="Contato" required>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="font-weight-bold "for="forn_ctt_tel">Telefone</label>
                            <input type="text" class="form-control " id="forn_ctt_tel" name="forn_ctt_tel" placeholder="Telefone" required>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="font-weight-bold "for="forn_ctt_email">E-mail</label>
                            <input type="text" class="form-control " id="forn_ctt_email" name="forn_ctt_email" placeholder="E-mail" required>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="forn_ctt_ativo">Ativo</label>
                            <input type="checkbox" id="forn_ctt_ativo" name="forn_ctt_ativo">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-text-danger btn-hover-light-danger font-weight-bold" data-dismiss="modal">Sair</button>
                            <button onclick="ctt_add()"type="button" id="ctt_btn_salvar" class="btn btn-text-success btn-hover-light-success font-weight-bold">Salvar</button>
                        </div>
                    </form> 
                </div>
            </div>                
        </div>
    </div>
</div>
<div class="modal fade" id="frm_aval_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aprovação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" data-scroll="true" >
                <ul class="nav nav-tabs nav-tabs-line">
                    <li class="nav-item">
                        <a id="prod_aba1" class="nav-link active" data-toggle="tab" href="#kt_tab_pane_4">Aprovação</a>
                    </li>
                    <li class="nav-item">
                        <a id="aba_cont"class="nav-link" data-toggle="tab" href="#kt_tab_pane_5">Itens</a>
                    </li> 
                </ul>
                <div class="tab-content mt-5" id="myTabContent">
                    <div class="tab-pane fade show active" id="kt_tab_pane_4" role="tabpanel" arial-labelledby="kt_tab_pane_4">   
                        <form method="post" id="frm_aval">
                            {% csrf_token %}
                            <input type="hidden" id="forn_aval_id" name="forn_aval_id">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label class="font-weight-bold"for="cat_aval">Tipo Avaliação</label>
                                    <select class="form-control " id="cat_aval" name="cat_aval"></select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="font-weight-bold "for="forn_aval_dta"> Data</label>
                                    <input type="date" class="form-control " id="forn_aval_dta" name="forn_aval_dta" placeholder="Data" required/>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="font-weight-bold"for="pes">Responsável</label>
                                    <select class="form-control " id="pes" name="pes"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="forn_aval_evid">Evidência</label>
                                    <textarea class="form-control" id="forn_aval_evid" name="forn_aval_evid" rows="3"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade "  id="kt_tab_pane_5" role="tabpanel" aria-labelledby="kt_tab_pane_5">
                        <button onclick="abrir_modal_itens()" class="btn btn-light-primary btn-icon btn-circle">
                            <i class="flaticon2-add-1"></i>
                        </button>
                        <table class="table table-head-custom" id="kt_itens">
                            <thead>
                                <tr>
                                    <th class="datatable-row datatable-row-even">ID</th>
                                    <th class="datatable-row datatable-row-even">Contato</th>
                                    <th class="datatable-row datatable-row-even">Telefone</th>
                                    <th class="datatable-row datatable-row-even">E-mail</th>
                                    <th class="datatable-row datatable-row-even">Ativo</th>
                                    <th class="datatable-row datatable-row-even">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table> 
                    </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-text-danger btn-hover-light-danger font-weight-bold" data-dismiss="modal">Sair</button>
                                <button onclick="itens_add()"type="button" id="itens_btn_salvar" class="btn btn-text-success btn-hover-light-success font-weight-bold">Salvar</button>
                            </div> 
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>
{% endblock %} 